@page "/cities/edit/{Id:int}"
@inject HttpClient Http
@rendermode InteractiveServer

<PageTitle>Edit a city</PageTitle>

<h1>Cities</h1>

@* @if (model == null) { <p>Loading...</p> }
else {
    //form
} *@

@code {
    //private CityEditModel model;

}
