@page "/cities/edit/{Id:int}"
@inject HttpClient Http
@using System.Net.Http.Json

<h3>Edit stad</h3>

@* @if (model == null) { <p>Loading...</p> }
else {
    //form
} *@

@code {
    //private CityEditModel model;

}
